////////  Colors  ////////
// Primary - Blue
$col-primary: #61dafb;

// Secondary - Orange
$col-secondary: #ff7730;

// From Black to White
$col-black: #222222;
$col-grey-dark-3: #333;
$col-grey-dark-2: #999;
$col-grey-dark: #777;
$col-grey-light-2: #eee;
$col-grey-light-1: #f7f7f7;
$col-white: #fff;

//fontsize
$default-font-size: 1.6rem;
